<mat-list>
    <div mat-subheader>Liste des articles</div>
    <mat-list-item *ngFor="let article of articles">
      <mat-icon mat-list-icon>Article</mat-icon>
      <div mat-line> {{article.title}} </div>
      <div mat-line> {{article.category}} </div>
      <div mat-line> {{article.description}} </div>
      <div mat-line> {{article.content}} </div>
      <div mat-line> {{article.date}} </div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-divider></mat-divider>
    <!-- <div mat-subheader>Notes</div>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>{{note.name}}</div>
      <div mat-line> {{note.updated | date}} </div>
    </mat-list-item> -->
  </mat-list>
  