<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Engagement
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Cette charte est annexée aux statuts de l’association Nos Quartiers Demain et s’appuie sur l’objet de cette
            association.
            <br>
            <br>
            Elle engage chaque membre adhérent, adhérent-fondateur, bienfaiteur, parrain et sympathisant-usager dans son
            objet et le respect de ses valeurs, soit :
        </p>
        <ul>
            <li>à défendre les intérêts des citoyens en leur permettant de participer à l’élaboration, à l’amélioration,
                à la préservation, à la valorisation de leur cadre de vie et de leur environnement naturel dans leur
                quartier, leur arrondissement, leur ville ;</li>
            <li>à fédérer le plus grand nombre autour de cette vision ; de participer aux transformations qui seront
                nécessaires pour faciliter la réalisation de cette vision ;</li>
            <li>à œuvrer en prenant toutes initiatives en ce sens et sous les formes les plus diverses ;</li>
            <li>à promouvoir l’esprit civique et les valeurs démocratiques dans la gestion de leur ville et des
                collectivités locales afin de favoriser leur meilleure gouvernance ;</li>
            <li>à veiller par tout moyen au respect, par les collectivités ou acteurs économiques, des dispositions
                réglementaires et des différents schémas ou plans concernant les citoyens.</li>
        </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Principe démocratique, participatif et coopératif
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Chaque membre signataire de cette charte s’engage à respecter les valeurs de démocratie participative et
            d’action citoyenne de coopération en vue des intérêts de nos quartiers et permettre aux citoyens et
            citoyennes, de redevenir des acteurs majeurs dans leurs quartiers.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Acte d'engagement libre et désintéressé
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Chaque membre signataire de cette charte s’engage librement et de manière désintéressée dans un état d’esprit
            de solidarité, de développement pour des actions d’intérêt général dans une démarche d’échange et de
            partenariat.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Action de représentation de l'association
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Chaque membre signataire de cette charte s’engage à représenter l’association Nos Quartiers Demain en
            respectant ses valeurs et objet. Il/elle peut réaliser des actions pour et au nom de l’association en lien
            avec son projet associatif et en accord avec les décisions prises en assemblée.
            <br>
            <br>
            Le nom, les informations et les données de l’association ne peuvent être utilisés à titre personnel et/ou
            individuel pour son propre bénéfice ou bénéfice d’un tiers.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Absence de conflit d'intérêts avec l'objet et le projet de l'association
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Chaque membre signataire déclare ne pas être en conflit d’intérêts de quelque importance qu’elle soit, avec
            l’objet, le projet et les actions menées par l’association Nos Quartiers Demain.
            <br>
            <br>
            De même le membre signataire s’engage, pour le présent et le futur, à ne pas se placer dans une situation
            qui le mettrait en conflit d’intérêt.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Principe d'égalité de traitement et de non-discrimination
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Chaque membre signataire s’engage à respecter le principe de non-discrimination entre les personnes
            adhérentes et non adhérentes et au regard de ses actions menées individuellement et collectivement. De même,
            il/elle s’engage à traiter de manière égale chaque personne et associations ou tout mouvement représentatif.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Principe de neutralité
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>L’association est constituée en dehors de tout esprit corporatif, politique ou religieux. Toute discussion de
            cet ordre y est fermement proscrite ainsi que toute propagande s’y rattachant.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Droit à l'image
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>L’adhèrent autorise l’association Nos Quartiers Demain à exploiter le droit à l’image qui résulte de photos,
            reportages …ayant un lien direct avec l’activité de l’association.</p>
    </mat-expansion-panel>
</mat-accordion>