<p> ACCUEIL </p>
<h1>Menu</h1>
<nav class="nav-router">
  <div>
  <div style="display:inline-block;padding: 5px">
    <a class="router" routerLink="/route1" routerLinkActive="active">R1</a>
  </div>
  <div style="display:inline-block;padding: 5px">
    <a class="router" routerLink="/route2" routerLinkActive="active">R2</a>
  </div>
  <div style="display:inline-block;padding: 5px">
      <a class="router" routerLink="/route3" routerLinkActive="active">R3</a>
  </div>
</div>
</nav>
<router-outlet></router-outlet>
  <table>
  <thead class="thead-default table-header">
    <tr>
      <th scope="col">userID</th>
      <th scope="col">username</th>
      <th scope="col">password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user._id}}</td>
      <td>{{user.username}} </td>
      <td>{{user.password}}</td>
    </tr>
  </tbody>
</table>