<img src="assets/img/header-baniere.png" width="100%" height="60%">

<h3 style = "text-align: center" > ACCUEIL - Nos quartiers demain</h3>

<br>

<p>

  Une association d’habitants du 4, 5 et 12 ème arrondissement de Marseille créée en opposition à l’implantation de la
  plus grande clinique privée d’Europe à St Barnabé. Notre association grâce aux liens humains extraordinaires, à la
  découverte de pratiques démocratiques nouvelles, de méthodes innovantes faisant appel à l’intelligence collective a
  penser un projet innovant sur cette friche de l'ancien collège Louis Armand.
</p>

<h3 style = "text-align: center" >
  Qui sommes nous ?
</h3>

<p>
  L’association Nos Quartiers Demain a pour but de défendre les intérêts des citoyens en leur permettant de participer à
  l’élaboration, à l’amélioration, à la préservation, à la valorisation de leur cadre de vie et de leur environnement
  naturel dans leur quartier, leurs arrondissements.
  <br>
  C’est dans ce contexte que Nos Quartiers Demain s’est mobilisé en octobre 2018 contre le projet du « plus grand
  hôpital privé de France » ** (projet qui n’a pas fait l’objet de réelle concertation avec la population) situé sur un
  grand et beau terrain municipal, friche de l’ancien collège Louis Armand à Marseille dans le quartier St
  Barnabé/Blancarde.
  <br>
  <br>
  Nous estimons, associations et habitants, que ce terrain mérite mieux qu’un projet surdimensionné et totalement
  inadapté à l’environnement proche. En affirmant cela, nous nous appuyons sur des données objectives, que l’on peut
  facilement retrouver car mises à la disposition de lecteurs curieux dans le dossier en ligne de l’enquête publique,
  sur le site de la Métropole.
  <br>
  Cette vaste mobilisation des habitants résulte d’une part de démarches individuelles et collectives pour répondre à
  cette première enquête publique en 2018. Elle s’est poursuivie en 2019 avec la volonté d’un grand nombre d’habitants
  et d’associations des secteur de se rassembler afin de porter ensemble une parole citoyenne forte et crédible devant
  les institutionnels et les élus.
  <br>
  <br>
  Pour informer encore plus largement la population, lors de la 2ème enquête publique en 2019 dédiée au PLUI, nous avons
  ainsi mis en place début 2019 des séances de formation/information à destination de tous.
  <br>
  Comme nous sommes des habitants conscients et raisonnables, dès le début de notre mobilisation nous avons voulu
  réfléchir parallèlement au devenir de ce magnifique terrain de 22 000 m2, pour qu’il s’inscrive dans un schéma
  respectueux de l’environnement. Nous avons donc décidé et entamé une démarche de diagnostic de notre territoire, en y
  associant une méthodologie de démarche participative auprès des habitants, pour aboutir à l’expression des besoins et
  des attentes de la population.
  <br>
  <br>
  Notre collectif s’est transformé rapidement en association afin d’obtenir un statut juridique « Loi 1901 » ce qui nous
  permet de fonctionner et d’entamer des actions.
  <br>
  Notre prétention est d’être présents bien sûr, dans le secteur qui nous a vu naître, mais notre volonté est d’être
  également actifs dans d’autres territoires, avec tous ceux qui souhaiteraient être à nos côtés, ou qui nous
  demanderaient notre aide.

</p>