<div class="container">
    <div *ngIf="!submitted">
        <br>
        <h3>Saisie d'un article</h3>
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit(articleForm)">
            <mat-card id="articleCard">
            <div class="form-group" id="title">
                <mat-form-field hintLabel="Max 100 caractères" appearance="fill">
                    <mat-label>Titre</mat-label>
                    <input matInput #titleInput maxlength="100" placeholder="Titre de l'article" 
                    class="form-control" formControlName="title">
                    <mat-hint align="end">{{titleInput.value?.length || 0}}/100</mat-hint>
                    <div class="alert alert-danger" [hidden]="articleForm.controls.title.valid"></div>
                </mat-form-field>
            </div>
            <br>

            <div>
                <mat-card style="width:77%">
                    <mat-label class="image-upload-container btn btn-bwm">
                        <span mat-line>Uploader une Image &nbsp;&nbsp;</span>
                        <input mat-line #imageInput formControlName="image"
                            type="file"
                            accept="image/*"
                            (change)="processFile(imageInput)">
                    </mat-label>
                    <div *ngIf="selectedFile" class="img-preview-container">

                        <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                             [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                        </div>
                        <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"></div>
                        <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Impossible d'uploader cette image</div>        
                    </div>
                    <div *ngIf="imageLoading" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>    
                </mat-card>
            </div>
            <br>

            <div class="form-group" id="category">
                <mat-form-field hintLabel="Max 25 caractères" appearance="fill">
                    <mat-label>Categorie</mat-label>
                    <input matInput #categoryInput maxlength="25" placeholder="Categorie" 
                    class="form-control" formControlName="category">
                    <mat-hint align="end">{{categoryInput.value?.length || 0}}/25</mat-hint>
                    <div class="alert alert-danger" [hidden]="articleForm.controls.category.valid"></div>
                </mat-form-field>
            </div>
            <br>
            <div class="form-group" id="description">
                <mat-form-field hintLabel="Max 200 caractères" appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput #descInput maxlength="200" placeholder="Description" 
                    class="form-control" formControlName="description">
                    <mat-hint align="end">{{descInput.value?.length || 0}}/200</mat-hint>
                    <div class="alert alert-danger" [hidden]="articleForm.controls.description.valid"></div>
                </mat-form-field>
            </div>
            <br>
            <br>


            <div class="form-group">
                    <label>Contenu</label>
                    <ckeditor class="form-control content" formControlName="content"
                            [editor]="Editor">
                    </ckeditor>
            </div>  

            <br>
            <mat-divider></mat-divider>
            
            <mat-card-footer>
                <br>
                <button mat-button type="submit" id="create"
                        [disabled]="!articleForm.valid || submitClicked">
                        Sauvegarder
                </button> 
                <br>
            </mat-card-footer>
            <div *ngIf="loading" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>    
            
        </mat-card>
        </form>  
    </div>
    <br>


    <div *ngIf="submitted">
        <h3>L'article suivant vient d'être crée: </h3>
        <mat-card class="article-card-preview">
            <mat-card-header>
                <mat-card-title><div mat-line> {{submittedModel.title}}</div></mat-card-title>
                <mat-card-subtitle><div mat-line> {{submittedModel.category}} </div></mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="content-preview">
                <div class="img-preview-container" *ngIf="selectedFile">
                    <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                         [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                    </div>
                    <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"></div>
                </div>
                <div mat-line> {{submittedModel.description}} </div>
                <br>
                <div mat-line id="content" [innerHTML]="submittedModel.content"></div>
            </mat-card-content>
            
            <br>
            <button mat-button id="edit" [disabled]="editClicked"
            (click)="submitted=false;edit=true;editClicked=true;submitClicked=false;">Editer</button>
        </mat-card>
        
        <div *ngIf="loading" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>    
        
        
    </div>    
</div>
<div><br></div>